<!DOCTYPE html>
<!-- xmlns:th="http://wwww.thymeleaf.org"
		Name space que contém todo o recurso do thymeleaf para utilizar nas páginas
		componentes e fragmentos (como formulário etc
	
	xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
		Name spacerecursos avançados para trabalhar com layout, principalmente quando 
		as páginas possuem conteúdos dinâmicos
		
 -->

<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://wwww.thymeleaf.org"
	xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Spring-Boot Básico</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="/image/favicon.png" />

	<!-- Bootstrap core CSS -->
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css}" rel="stylesheet" />
	
	<!-- Custom styles for this template -->
	<link th:href="@{/css/style.css" rel="stylesheet}" />
</head>
<body>
	<!-- representa nosso cabeçalho -->
	<header th:replace="fragments/header :: cabecalho">
		<div>header</div>
	</header>
	
	<div class="layout-main">
		<aside>
			<!-- menu de navegação -->
			<nav th:replace="fragments/sidebar :: nav-sidebar">
				<span>menu</span>
			</nav>
		</aside>
		
		<!-- conteúdo principal das páginas -->
		<section layout:fragment="corpo">
			<div>conteúdo principal das páginas</div>
		</section>		
	</div>
	
	<!-- rodapé do nosso layout
		
		fragments/footer :: nome do fragmento
			lembrando que  é a pasta fragments em templates 	
	 -->
	<footer th:replace="fragments/footer :: rodape">
		<div>rodapé</div>
	</footer>
	
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-mask-plugin/dist/jquery.mask.min.js}"></script>
	<script	th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript">
	
		var url = '';
		//button id btn_ para ao clicar em qualquer id inicial com btn venha para essa função
		$('button[id*="btn_"]').click(function(){
			url = "http://localhost:8085/"+ $(this).attr('id').split("_")[1]; //retorn a segunda posição do split (array)
		});
		
		//Passagem da url para o botão ok (esperando o click)
		$('#ok_confirm').click(function(){
			document.location.href = url; //faz requisição para o servidor passando a url
		});
	    
		$(function() {
			$('[data-toggle="popover"]').popover();
		});
		
		$(document).ready(function(){
		    $(".navbar-toggle").click(function(){
		        $(".sidebar").toggleClass("sidebar-open");
		    })
		});
		
		
		

	</script>

</body>
</html>